
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.bottom-btns{
  margin: 20px 0px 20px 0px;
}

.nav{
  text-decoration: none;
  list-style: none;
  float:left;
  padding-top: 50px;
  li{
    padding:15px;
    margin:10px;
    display:inline-block;
  }
}
header{
  margin-top: 20px;
}
.header-comp{
  border-bottom:solid 1px black;
}
.sidebar{
  border-left: solid 1px black;
  padding:10px;
}
.user-formwrapper{
  padding:10px;
  margin-bottom:30px;
  border:solid 1px black;
  height:400px;
  input{
    width:100%;
    margin:5px;
  }
}
