
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}
#app{
  background: url("static/dist/images/lined_paper.png");
}
img {
  max-width: 100%;
}
p{
  font-family: "Avenir Next";
}
h3{
  font-family: "Avenir Next";
  font-weight: bold;
}
h4{
  font-family: "Avenir Next";
}
h1{
  font-family: "Avenir Next";
  font-weight: bold;
}
ul{
  padding-left: 0px;
}
footer{
  height:100px;
  background-color: #CC66FF;
  margin-top: 50px;
}
a:hover, a::selection, a:visited, a:focus, a:active{
  text-decoration: none;
  outline: none;
}
button{
  font-family: "Avenir Next";
  background-color: #CC66FF;
  border:solid 1px #CC66FF;
  color:white;
}
button:hover{
  border:solid 1px #CC66FF;
  background-color: white;
  color:#331940;
}
.headline{
  h1{
    font-family: "Avenir Next";
    font-weight: bold;
  }
}
.modal-backdrop{
  z-index: -1000;
}
.modal-title{
  font-family: "Avenir Next";
}
.modal-button{
  background-color: #CC66FF;
  border:solid 1px #CC66FF;
}
.modal-button:hover, .modal-button:focus,.modal-button:active:focus{
  outline:none;
  color:black;
  background-color: white;
  border:solid 1px #331940;
}
.bottom-btns{
  margin: 20px 0px 20px 0px;
  h3{
    font-family: "Avenir Next";
    margin-top: 0px;
  }
}

.myNav{
  text-decoration: none;
  list-style: none;
  padding-top: 30px;

  li{
    font-family: "Avenir Next";
    padding:5px 10px;
    margin:10px;
    color:white;
    border:solid 1px #CC66FF;
    border-radius: 10px;
    display:inline-block;
    background:#CC66FF;
    text-align: center;
  }
  li:hover{
    color:black;
    background-color: white;
    border:solid 1px #331940;

  }
}
.logout{
  font-family: "Avenir Next";
  float: right;
  position: relative;
  top:25px;
  padding:5px 10px;
  margin:10px;
  color:white;
  border:solid 1px #CC66FF;
  border-radius: 10px;
  background:#CC66FF;
  cursor:pointer;
}
#logo{
}
#infograph{
  margin:45px auto;
  padding:15px;
  border-bottom: solid 1px black;
  border-top: solid 1px black;

}
.homepage-btn{
  height:125px;
  padding: 30px 20px 20px 20px;
  margin: 20px 0px;
  border:solid 3px #CC66FF;
  border-radius: 10px;
  color:#331940;
  font-family: "Avenir Next";
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.homepage-btn:hover{
  transform: scale(1.1,1.1);
}
.home{
  h3{
    margin-top: 30px;
  }
}
header{
  margin-top: 20px;
}
.header-comp{
  border-bottom:solid 1px black;
}
.login-wrapper{
  padding:10px;
  background-color: black;
  border-radius: 10px;
  input{
    margin:5px auto;
  }
}
.sidebar{
  border-left: solid 1px black;
  padding:10px;
}
//User Registration Page//

.user-reg-form{
  margin-top: 30px;
}
.user-formwrapper{
  padding:10px;
  margin-bottom:30px;
  border:solid 1px black;
  height:400px;
  input{
    width:100%;
    margin:5px;
  }
}

.signup_button{
  font-family: "Avenir Next";
  padding:5px 10px;
  margin:10px;
  color:white;
  border:solid 1px #CC66FF;
  border-radius: 10px;
  background:#CC66FF;
}
.signup_button:hover{
  color:black;
  background-color: white;
  border:solid 1px #331940;
}

/////////////////////////


.profile-button{
  width:100%;
  height:100px;
  margin: 30px 0px;
  padding-top: 15px;
  color:white;
  text-align: center;
  border-radius: 15px;
  background-color: #CC66FF;
  border:solid 1px #CC66FF;
}
.profile-button:hover{
  color:black;
  background-color: white;
  border:solid 1px #331940;
}
#k-man{
  height:150px;
}
#logo{
  margin:15px;
}
.prof-headline{
  padding-top: 10px;
  h1{
    font-family: "Avenir Next";
    font-weight: bold;
    display: inline-block;
  }
}
.panel-wrapper{
  background-color: black;
  border-radius: 5px;
  color:white;
  padding:15px;
  margin-top:20px;
  height:300px;
  h3{
    margin-top: 10px;
  }
  .panel{
    color:black;
    height:200px;
    overflow: scroll;
  }
  button{
    display:block;
    border-radius:5px;
    margin-top:3px;
  }
}
.events-panel{
  margin:0 auto;
  width:90%;
}
.joined-panel{
  margin:0 auto;
  padding-top: 10px;
  background-color: white;
    .party-info{
      cursor: pointer;
      padding: 5px;
      margin:5px;
      color:black;
      border:solid 1px black;
    }
    .party-info:hover{
      transform: scale(1.03,1.03);
    }
}
.search-bar{
  float:right;
  margin-top: 30px;
    select{
      width:200px;
      line-height:25px;
      font-family: "Avenir Next";
    }
}
.search-button{
  width:100px;
  margin-left: 2px;
  border-radius: 5px;
}
.party-finder  h1{
  float:left;
}
.event-date{
  font-family: "Avenir Next";
  margin-left: 5px;
}
.event-time{
  font-family: "Avenir Next";
  margin-left: 10px;
}
.title{
  font-weight: bold;
}
.videoplayer{
  background-color: white;
  height:420px;
}
.player-wrapper{
  margin-top: 20px;
  border-radius: 5px;
  padding:10px;
  background-color: black;
  height:500px;
}
.que-item{
  padding: 5px;
  margin:5px;
  color:black;
  border:solid 1px black;
  border-radius: 10px;
}
.player-view-queue-wrapper{
  background-color: black;
  border-radius: 5px;
  color:white;
  padding:15px;
  margin-top:20px;
  height:450px;
}
.queue-panel{
  color:black;
  background-color: white;
  height:400px;
  overflow: scroll;
  font-family: "Avenir Next";
    h5{
      display:inline-block;
      float:right;
      margin-right: 5px;
      cursor:pointer;
      color:#C6A2FF;
    }
    h4{
      text-transform: uppercase;
      font-family: "Avenir Next";

    }
    button{
      display: block;
      margin: 10px auto;
      border:none;

    }
    button:hover{
      background: #cc66ff;
      color:white;
      border:none;
    }
}
.ytube-results{
  border:solid 1px black;
  border-radius: 10px;
  margin:5px 0;
  padding: 15px;
    h5{
      border:solid 1px #cc66ff;
      border-radius: 5px;
      padding: 5px;
      margin:5px 0;
      cursor: pointer;
    }
    h5:hover{
      transform: scale(1.03,1.03);
    }
}
.playerPage{
  margin-bottom: 35px;
}
.ui-datepicker{
  background-color: white;
  border-radius: 5px;
  border:solid 1px gray;
  padding:10px;
  width:175px;
  display: none;
  td{
    padding:0 2px;
  }

}

.new-location-form{
  padding:15px;
  border-radius: 5px;
  margin-top: 15px;

}
.login-btn{
  text-align:center;
}
.error-message{
  height:50px;
  color:red;
}
.about_us{
  margin:10px auto 30px auto;
  text-align: center;
  padding-bottom: 20px;
  border-bottom:solid 1px black;
}
.pics{
  width: 300px;
}

.our_names{
  margin:10px auto;
  text-align: center;
  padding-top: 30px;
}
.arrow-down {
	width: 0;
	height: 0;
  margin:0 auto;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #C6A2FF;
}
.detail-view{
  padding:10px;
  h4{
  color:black;
  }
  span{
  color:black;
  }
}
.joined-party-details
{
  margin:10px 0px;
}
.queue-wrapper{
  height:300px;
  overflow-y: scroll;
}
#colon{
  text-align:center;
  margin: 0 auto;
  display: block;
}
