{% extends 'base.html' %}
{% block title %}Party{% endblock %}
{% block content %}
  <table>
  <th>
    {{ object.location_name }}
  </th>
  <tr>
    <td>{{ object.street_address }}</td>
  </tr>
  <tr>
      <td>{{ object.city }}</td>
  </tr>
  {% if object.theme %}
  <tr>
      <td>Theme: {{ object.theme }}</td>
  </tr>
  {% endif %}
  </table>
  
  <a href="{% url 'index_view' %}"><input type="submit" name="Confirm" value="Confirm Your Party"></a>
  <a href="{% url 'party_update_view' object.id %}"><input type="submit" name="Edit" value="Edit Your Party"></a>

{% endblock %}
