{% extends 'base.html' %}
{% block title %}Party{% endblock %}
{% block content %}
  <table>
  <th>
    {{ object.location_name }}
  </th>
  <tr>
    <td>{{ object.date_of_party }} at {{ object.time_of_party|time }}</td>
  </tr>
  <tr>
    <td>{{ object.street_address }}</td>
  </tr>
  <tr>
      <td>{{ object.city }}</td>
  </tr>
  {% if object.theme %}
  <tr>
      <td>Theme: {{ object.theme }}</td>
  </tr>
  {% endif %}
  </table>

  {% if object.creator == request.user %}
  <a href="{% url 'party_update_view' object.id %}"><input type="submit" name="Edit" value="Edit Your Party"></a>
{% endif %}
<br>
<h4>Song Queue</h4>
{% for song in song_list.all %}
<div>{{ song.user }}, {{ song.song_name }}</div>
{% endfor %}

{% endblock %}
